.metadata/
gimmetoken-client/.settings/
gimmetoken-model/.settings/
gimmetoken-model/.classpath
gimmetoken-model/.project
gimmetoken/.settings/
gimmetoken/.project
*.iml
gimmetoken/.idea
gimmetoken-core/target
